{% extends 'base.htm' %}

{% block body %}
    <p>{{ player.name }}</p>
    <p>{{ player.character_class }}</p>
    <p>Pozostałe punkty do rozdania: {{ player.start_points }}</p>
    <div class="container-center margin-top-2rem">
        <div class="stats-container stats-container-column">
            <div class="stats-column">
                <div>Statystyki postaci</div>
                <div class="add-stat-container">
                    <div>{{ stats_names[0] }} {{ player.strength }} </div>
                    <div class="add-stat-container">
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="strength1">
                                <input type="submit" value="+1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="strength3">
                                <input type="submit" value="+3" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="strength1">
                                <input type="submit" value="-1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="strength3">
                                <input type="submit" value="-3" class="add-stat-button">
                        </form>
                    </div>
                </div>
                <div class="add-stat-container">
                    <div>{{ stats_names[1] }} {{ player.dexterity }}</div>
                    <div class="add-stat-container">
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="dexterity1">
                                <input type="submit" value="+1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="dexterity3">
                                <input type="submit" value="+3" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="dexterity1">
                                <input type="submit" value="-1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="dexterity3">
                                <input type="submit" value="-3" class="add-stat-button">
                        </form>
                    </div>
                </div>
                <div class="add-stat-container add-stat-container-gap">
                <div>{{ stats_names[2] }} {{ player.charisma }}</div>
                    <div class="add-stat-container">
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="charisma1">
                                <input type="submit" value="+1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="add_stat" name="add_stat" value="charisma3">
                                <input type="submit" value="+3" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="charisma1">
                                <input type="submit" value="-1" class="add-stat-button">
                        </form>
                        <form method="post" >
                                <input type="hidden" id="sub_stat" name="sub_stat" value="charisma3">
                                <input type="submit" value="-3" class="add-stat-button">
                        </form>
                    </div>
                </div>
            </div>
            <div class="stats-column">
                <div>Atak</div>
                <div class="font-size-2rem">
                    <div>{{ stats_names[3] }} {{ player.damage1 }}-{{ player.damage2 }}</div>
                    <div>{{ stats_names[4] }} {{ player.attack_speed }}</div>
                    <div>{{ stats_names[5] }} {{ (player.critical_attack * 100)|round(2) }}%</div>
                </div>
            </div>
            {% if player.character_class != 'Broń dwuręczna' %}
            <div class="stats-column">
                <div>Obrona</div>
                <div class="font-size-2rem">
                    {% if player.character_class == 'Broń jednoręczna i tarcza' %}
                        <div>{{ stats_names[6] }} {{ (player.block * 100)|round(2) }}%</div>
                    {% endif %}
                    {% if player.character_class == 'Sztylety' %}
                        <div>{{ stats_names[7] }} {{ (player.dodge * 100)|round(2) }}%</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container-center margin-top-2rem">
        <form action="/game" method="post">
            <input type="submit" value="Zatwierdź" class="add-stat-button">
        </form>
    </div>
{% endblock %}