{% extends 'base.htm' %}

{% block body %}

    <div class="container box-shadow-color">
        <div class="stats-container">
            <div class="stats-column">
                <div>Statystyki postaci</div>
                <div>{{ stats_names[0] }} {{ player.strength }}</div>
                <div>{{ stats_names[1] }} {{ player.dexterity }}</div>
                <div>{{ stats_names[2] }} {{ player.charisma }}</div>
            </div>
            <div class="stats-column">
                <div>Atak</div>
                <div>{{ stats_names[3] }} {{ player.damage1 }}-{{ player.damage2 }}</div>
                <div>{{ stats_names[4] }} {{ player.attack_speed }}</div>
                <div>{{ stats_names[5] }} {{ (player.critical_attack * 100)|round(2) }}%</div>
            </div>
            {% if player.character_class != 'Broń dwuręczna' %}
            <div class="stats-column">
                <div>Obrona</div>
                    {% if player.character_class == 'Broń jednoręczna i tarcza' %}
                        <div>{{ stats_names[6] }} {{ (player.block * 100)|round(2) }}%</div>
                    {% endif %}
                    {% if player.character_class == 'Sztylety' %}
                        <div>{{ stats_names[7] }} {{ (player.dodge * 100)|round(2) }}%</div>
                    {% endif %}
            </div>
            {% endif %}
        </div>
            <form action="/add_stats" method="post">
                <input type="submit" value="Rozdaj statystki" class="add-stat-button">
            </form>
        <div class="name-container">
            <div class="name-bar">{{ player.name }}</div>
            <div class="name-bar"><img src="{{ url_for('static', filename='img/'+ player.character_class + ".png") }}" width="64" height="64"></div>
            <div class="name-bar">{{ player.health }} <img src="{{ url_for('static', filename="img/heart3.png") }}" width="32" height="32"></div>
        </div>
        <div class="main-container backpack-container">

            <div>
            <div>Plecak</div>
                <div class="backpack-element">
                    <div>{{ backpack.potion1 }}</div>
                    <form method="post" >
                        <input type="hidden" id="potion" name="potion" value="potion1">
                        <input type="submit" value="+{{ potions[0].value }} HP" class="add-stat-button">
                    </form>
                </div>

                <div class="backpack-element">
                    <div>{{ backpack.potion2 }}</div>
                    <form method="post" >
                        <input type="hidden" id="potion" name="potion" value="potion2">
                        <input type="submit" value="+{{ potions[1].value }} HP" class="add-stat-button">
                    </form>
                </div>

                <div class="backpack-element">
                    <div>{{ backpack.potion3 }}</div>
                    <form method="post" >
                        <input type="hidden" id="potion" name="potion" value="potion3">
                        <input type="submit" value="+{{ potions[2].value }} HP" class="add-stat-button">
                    </form>
                </div>
            </div>

    </div>
    </div>



    <div class="main-container">
        <div class="enemy-tree">
            <div class="enemy-row">
               <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[6] }}">
                    <input type="submit" value="Smok" class="add-stat-button">
                </form>
            </div>
            <div class="enemy-row">
                <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[3] }}">
                    <input type="submit" value="Troll" class="add-stat-button">
                </form>
                 <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[4] }}">
                    <input type="submit" value="Goblin" class="add-stat-button">
                </form>
                 <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[5] }}">
                    <input type="submit" value="Ork" class="add-stat-button">
                </form>
            </div>
            <div class="enemy-row">
                <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[1] }}">
                    <input type="submit" value="Dzik" class="add-stat-button">
                </form>
                <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[2] }}">
                    <input type="submit" value="Jeleń" class="add-stat-button">
                </form>
            </div>
            <div class="enemy-row">
                <form method="post" action="/game/battle">
                    <input type="hidden" id="enemy" name="enemy" value="{{ enemies[0] }}">
                    <input type="submit" value="Królik" class="add-stat-button">
                </form>
            </div>
        </div>
    </div>


{% endblock %}